/*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.logo {
    margin-top: 200px;
}

.searchbar {
    margin-top: 30px;
}

.main {
    text-align: center;
}

.searchinput {
    width: 500px;
}

.searchbuttons {
    padding-top: 20px;
}